/* default body style*/
html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #00ffd0;
    overflow: hidden;
}

.navbar a {
    float: left;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
  
.navbar img {
    margin-top: -5px;
    float: left;
    height: 36px;
    vertical-align: middle;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    font-size: 20px;
    align-items: center;
    margin: 0;
}

.dropbtn img {
    float: right;
    border-radius: 50%;
    margin-left: 12px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgb(235, 254, 245);
    right: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #00ffd0;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    display: none;
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Style the Landing page */
.landing-content img {
    width: 100%;
    height: 100%;
}

.bg-left img {
    float: left;
    width: 30%;
    height: auto;
    margin-top: 2.5%;
    vertical-align: middle;
}

.bg-mid {
    float: left;
    width: 40%;
    text-align: center;
    height: 250px;
    margin-top: 8%;
    align-items: center;
    vertical-align: middle;
}

.bg-mid button {
    background-color: black;
    color: #ffff;
    line-height: 2.5;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
}

.bg-right img {
    float: right;
    width: 30%;
    height: auto;
    margin-top: 2.5%;
    vertical-align: mid;
}

/* Home*/
.body-content {
    width: 100%;
    height: 92%;
}

/* Side Bar*/
.side-bar {
    float: left;
    width: 20%;
    height: 100%;
    background-color:rgb(235, 254, 245);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.side-bar img {
    margin-block-start: 2em;
    border-radius: 50%;
    height: 18%;
}

.side-bar hr {
    width: 80%;
    border: none;
    height:1.5px;
    background-color: rgb(91, 157, 126);
}

.side-bar p {
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

.side-bar .button-holder button {
    vertical-align: middle;
    background-color: #00ffd0;
    color: black;
    line-height: 2.5;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Main Section */
.main-content {
    float: left;
    width: 80%;
    height: 100%;
    background-color:white;
    overflow: hidden;
    text-align: center;
}

.main-content hr {
    width: 90%;
    border: none;
    height:1.5px;
    background-color: rgb(91, 157, 126);
}

/* Video list */
.video-body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.video-content {
    width: 90%;
    height: 26%;
    display: flex;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    box-shadow: 10px 10px 5px rgb(235, 254, 245);
}

.vid-thumbnail {
    width: 30%;
}

.vid-thumbnail img {
    width: 100%;
    height: 100%;
}

.vid-detail {
    width: 60%;
    float: left;
    text-align: left;
    overflow: hidden;
}

.vid-detail p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 1.2em;
    margin-inline-end: auto;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter;
}

.vid-detail p.title {
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    margin-inline-start: 1.0em;
    margin-inline-end: auto;
    font-size: 18px;
}

.video-content .button-holder {
    width: 15%;
    position: relative;
}

.video-content .button-holder button {
    float: none;
    background-color: #00ffd0;
    color: black;
    line-height: 2.5;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

/* Analysis */
.analysis-body {
    align-items: center;
    width: 100%;
    height: 100%;
}

.analysis-content {
    width: 100%;
    height: 65%;
}

.word-cloud {
    float: left;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.word-cloud img {
    width: 80%;
    height: 85%;
}

.classification-graph {
    float: right;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.classification-graph p {
    margin-left: 2em;
}

.classification-graph img {
    width: 82%;
    height: 90%;
}

.delete-button {
    margin-top: 3em;
    height: 30%;
}

.delete-button button {
    vertical-align: middle;
    border: 0px;
    background-color: #f44949;
    color: white;
    line-height: 2.5;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
}