<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DeTox - Home</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <script>    
            function displayLoader() {
                document.getElementById("loader").style.display = "block";
                document.getElementById("body-content").style.display = "none";
            }
        </script> 
    </head>
    <body>
        <div id="loader" class="center"></div>
        <!-- Navigation Bar -->
        <div class="navbar">
            <a href="{{ url_for('landing') }}"><img src="{{ url_for('static', path='/images/detox_logo.svg') }}" alt="DeTox"></a>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="#">About</a>
            <div class="dropdown">
                <button class="dropbtn">{{ channel_details["name"] }} <img src="{{ channel_details['logo_url'] }}" alt=""></button>
                <div class="dropdown-content">
                    <a href="{{ url_for('logout') }}">Log Out</a>
                    <a href="{{ url_for('revoke') }}">Revoke Access</a>
                </div>
            </div>
        </div>
        <div id="body-content" class="body-content">
            <div class="side-bar">
                <img src="{{ channel_details['logo_url'] }}" alt="">
                <p style="font-size: 18px;">My Channel</p> 
                <hr>
                <p>Video Count: {{ channel_details['stats']["videoCount"] }}</p>
                <p>Total Views: {{ channel_details['stats']["viewCount"] }}</p>
                <p>Subscribers: {{ channel_details['stats']["subscriberCount"] }}</p>
                <br>
                <div class="button-holder">
                    <a href="{{ url_for('refresh_home') }}"><button type="button" onclick="displayLoader()">Refresh Content</button></a>
                </div>
            </div>
            <div class="main-content">
                <p style="font-size: 20px;">My Videos</p> 
                <hr>
                <div class="video-body">
                    {% if video_data|length > 0 %}
                        {% for video_id in video_data %}
                        <div class="video-content">
                            <div class="vid-thumbnail">
                                <img src="{{ video_data[video_id]['thumbnail_url'] }}" alt="">
                            </div>
                            <div class="vid-detail">
                                <p class="title">{{ video_data[video_id]["title"] }}</p>
                                <p>Views: {{video_data[video_id]["views"] }}</p>
                                <p>Likes: {{video_data[video_id]["likes"] }}</p>
                                <p>Comments: {{video_data[video_id]["comments"] }}</p>
                                <p>Description: {{video_data[video_id]["description"] }}</p>
                            </div>
                            <div class="button-holder">
                                <a href="{{ url_for('video_analysis', video_id = video_id) }}"><button type="button" onclick="displayLoader()">Analyze</button></a>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p style="color: grey;">No Videos Found</p>
                    {% endif %}
                </div>
            </div>
        </div> 
    </body>
</html>