<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DeTox - Video Analysis</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation Bar -->
        <div class="navbar">
            <a href="{{ url_for('landing') }}"><img src="{{ url_for('static', path='/images/detox_logo.svg') }}" alt="DeTox"></a>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="#">About</a>
            <div class="dropdown">
                <button class="dropbtn">{{ channel_details["name"] }} <img src="{{ channel_details['logo_url'] }}" alt=""></button>
                <div class="dropdown-content">
                    <a href="{{ url_for('logout') }}">Log Out</a>
                    <a href="{{ url_for('revoke') }}">Revoke Access</a>
                </div>
            </div>
        </div>
        <div class="hero-home">
            <div class="side-bar">
                <img src="{{ video['thumbnail_url'] }}" alt="" style="border-radius: 2%; width: 80%; height: auto;">
                
                
                <p style="font-size: 18px;">{{ video["title"] }}</p> 
                <hr>
                <p>Views: {{ video["views"] }}</p>
                <p>Likes: {{ video["likes"] }}</p>
                <p>Comments: {{ video["comments"] }}</p>
            </div>
            <div class="main-content">
                <p style="font-size: 20px;">Analysis</p> 
                <hr>
                <div class="analysis-body">
                    <div class="analysis-content">
                        <div class="word-cloud">
                            <p>Comments Summary</p>
                            <img src="{{ url_for('static', path='/images/word_cloud.png') }}" alt="">
                        </div>
                        <div class="classification-graph">
                            <p>Comments Classification</p>
                            <img src="{{ url_for('static', path='/images/classification_graph.png') }}" alt="">
                        </div>
                    </div>
                    <div class="delete-button">
                        <a href="#"><button type="button">Delete Comments</button></a>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>